<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>##@#@</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>{.Name}</h1>
            <nav>
                <ul class="nav-links">
                    <form action="/logout" method="post">
                        <input type="submit" value="log out" class="nav-link">
                    </form>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="forum-intro">
            <h2>Welcome to your account</h2>
            <p>Join the conversation and share your ideas.</p>
            <button class="create-post-btn" onclick="location.href=`/createPost`" >Create a post</button>
        </section>

        <section class="posts">
            {{ range .Posts }}
            <article class="post-item">
                <h3>{{ .Title }}</h3>
                <time datetime="{{ .CreatedAt }}">{{ .CreatedAt }}</time>
                <p class="author">Posted by {{ .UserID }}</p>
                <div class="content">{{ .Content }}</div>
            </article>
            {{ end }}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 ©. All rights reserved.</p>
    </footer>
</body>
</html>
